<!DOCTYPE html>
<html lang="en">
<head>
<title>TinyApp</title>
<h1>TinyApp</h1>
</head>
<body style="font-size:20px; padding:50px;">
  <form method="POST" action="/login">
  <a href="/login">Login</a>
  |
  <a href="/register">Register</a>
  </form>
</body>
</html>
