<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
<% include partials/_header.ejs %>
 <a href="#">Create new tiny url</a>
  <p><%= shortURL %></p>
  <p><%= longURL %></p>
</body>
</html>
