<html>
<title>TinyApp</title>
<h1>Registration</h1>
</head>
<body style="font-size:20px; padding:50px;">
  <form action="/register" method="POST">
    <div class="form-group mb-2">
      <p>Email: </p><input class="form-control" type="email" name="email" placeholder="Email" style="width: 300px; margin: 1em">
      <p>Password :</p><input class="form-control" type="password" name="password" placeholder="Password" style="width: 300px; margin: 1em">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </form>

</body>
</html>


